    <mat-toolbar class="header">
      <mat-toolbar-row class="header">
        <mat-icon color="white">pin</mat-icon>
        <span>Autômatos</span>
      </mat-toolbar-row>
    </mat-toolbar>

  <mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" >
    <span class="teste">Teste:</span>

    <img style="margin-bottom: 40px;" src="/assets/automato.png" alt="Autômato">

    <form [formGroup]="formulario" fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Digite o autômato</mat-label>
        <input type="text" matInput formControlName="valor" #message maxlength="256" placeholder="Ex. 1234" required>
      </mat-form-field>

      <button mat-mini-fab type="submit" [disabled]="!formulario.valid">
        <mat-icon class="button">input</mat-icon>
      </button>
    </form>

    <p>
      Resposta: {{resposta}}
    </p>
    </mat-card-content>
  </mat-card>
